<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>

      <!-- Services -->
      <section class="colored-section" id="services" style="text-align: center;">

        <h2 class="section-heading">Services</h2><br><br>

        <div class="row">

          <div class="pricing-column col-lg-4 col-md-6">
                <img class="service_img" src="images/Logo.png" alt="service1">
                <br><br>
                <h4>Smart buying<br>&<br>Smart selling</h4>
                <br><br>
                <form action="/" method="get">
                  <input type="submit" class="btn btn-info" value="Avail Service" />
                  <!--input type="hidden" name="service" value="service1"-->
                </form>
          </div>

          <div class="pricing-column col-lg-4 col-md-6">
                <img class="service_img" src="images/Logo.png" alt="service1">
                <br><br>
                <h4>Resource maintenance<br>&<br>Resource analytics</h4>
                <br><br>
                <form action="/resourcemgmt" method="post">
                  <input type="hidden" name="userid" value="<%=userid%>">
                  <input type="submit" class="btn btn-info" value="Avail Resource Management Service" />
                </form>
                <br><br>
                <form action="/dash" method="get">
                  <!--input type="submit" class="btn btn-info" value="Avail Resource Analytics Service" /-->
                  <!--input type="hidden" name="service" value="service1"-->
                </form>
          </div>

          <div class="pricing-column col-lg-4 col-md-6">
                <img class="service_img" src="images/Logo.png" alt="service1">
                <br><br>
                <h4>Discussion Forum</h4>
                <br><br><br><br>
                <form action="/forum" method="get">
                  <input type="submit" class="btn btn-info" value="Avail Service" />
                  <!--input type="hidden" name="service" value="service1"-->
                </form>
          </div>

        </div>

      </section>
      <br><br><br><br>

  </body>
</html>
